
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cloudinary_url(@list.photo.key) %>');">
  <div class="container">
    <h1><%= @list.name %></h1>
    <span style= "color: white;" data-controller="typed-js"></span>
  </div>
</div>
