<button type="button" class="add-new-bookmark" data-toggle="modal" data-target="#exampleModal">
    <p>+</p>
  </button>
<div class="cards">
<% @lists.each do |list| %>
    <h2><%= link_to list_path(list) do %></h2>
   <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cloudinary_url(list.photo.key) %>)">
  <h2> <%= list.name %></h2>
  </div>

  <% end %>
<% end %>
</div>
